.Principal{ 
    width:100vw ;
    height:100vh ;
    background-color: blue;
}
header{ 

 background-color:  #B29272;
}
.modal-content {
    background-color: #DDD3CA;
    color: #1A2915;
}
.bt-log {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
}

.bt-log:hover {
    background-color: #B29272;
}
.tx {
    color: #1A2915;
    text-decoration: none;
}
.canva {
    background-color: #DDD3CA;
    color: #1A2915;
}

.d-block{ 
width: 100%;
height:100vh !important ;
}

.pagina1{ 
    width: 100vw;
    height: 100vh;
    background-color: beige;  
}

.segunda{ 
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.fim{ 
    width:100% ;
    height:100vh;
    background-color: aquamarine;   
}


.p{ 
    text-align:justify ;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    padding: 20px;
    background-color: #B29272;
    color: #ffffff;
}
/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #b2927200;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ddd3ca00;
}